<!-- start custom head snippets -->
<script type='text/javascript'
     src='https://platform-api.sharethis.com/js/sharethis.js#property=5ff732cd0931a20012f59ecc&product=inline-share-buttons'
     async='async'></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8BKF5BJQJ0"></script>
<script>
     window.dataLayer = window.dataLayer || [];
     function gtag() { dataLayer.push(arguments); }
     gtag('js', new Date());

     gtag('config', 'G-8BKF5BJQJ0');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7279084758065220"
     crossorigin="anonymous"></script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7279084758065220"
     crossorigin="anonymous"></script>

<!-- end custom head snippets -->