<div style="
  border: 2px solid #005c99;
  background: #e8f4ff;
  padding: 15px;
  margin: 20px 0;
  border-radius: 8px;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
">
    <a href="https://jobs.lbl.gov/jobs/postdoctoral-researcher-hpc-workflow-performance-nesap-nersc-7247" style="
       color: #005c99;
       font-size: 1.2em;
       font-weight: bold;
       text-decoration: none;
     ">
        Post-doctoral position at NERSC for potential collaboration on the the development of DFD (10/21/2025)
    </a>
    <p style="margin-top:8px; font-size:0.9em; color:#333;">
      The Global Seismology Group at UC Berkeley is involved in a collaboration with <a href="https://www.nersc.gov/">NERSC</a> for the development of a scalable version of the new wave propagation solver DFD (Distributed Finite Difference Method ,e.g. Masson, GJI, 2023) on the NERSC supercomputing platforms, and its potential applications to imaging earth structure at scales from local to global.

        If you have experience in parallel code development and are interested in collaborating with us on the DFD, consider applying for a post-doc position currently open at NERSC in the framework of the <a href="https://www.nersc.gov/what-we-do/support-for-scientists/nersc-science-acceleration-program" style="
             color: #005c99;
             text-decoration: underline;
           ">NESAP program</a>.
        Find out job description and application details <a href="https://jobs.lbl.gov/jobs/postdoctoral-researcher-hpc-workflow-performance-nesap-nersc-7247" style="
       color: #005c99;
       text-decoration: underline;
     ">here</a>.
    </p>
</div>