{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <div class="sidebar-image">
          <img width="30%" src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | relative_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
        </div>
      {% endif %}
      {% if s.title %}
      <h2 align="center">{{ s.title }}</h2>
      {% endif %}

      {% if s.showBtn %}
      <p align="center">
       <a href="/research/" class="btn btn--success btn--small" style="font-size:0.6em;"><i class="fa fa-globe" aria-hidden="true"></i> Research</a>
                <a href="/data-analysis/" class="btn btn--success btn--small" style="font-size:0.6em;"><i class="fa fa-chart-line" aria-hidden="true"></i> Data Analysis</a>
                <a href="/web-computing/" class="btn btn--success btn--small" style="font-size:0.6em;"><i class="fa fa-cloud" aria-hidden="true"></i> Web Computing</a>
                <a href="https://github.com/earthinversion/" class="btn btn--success btn--small" style="font-size:0.6em;"><i class="fab fa-github" aria-hidden="true"></i> Github Page</a>
      </p>
          
      {% endif %}

      {% if s.text %}
        <blockquote style="font-size: small;">
          "{{ s.text }}"<br>
          -{{ s.subtext }}
        </blockquote>
      {% endif %}


      {% if s.nav %}
    
      {% include nav_list nav=s.nav %}
      {% endif %}
      {% if s.reader_count %}
        <p class="page_readers"><a href="http://feeds.feedburner.com/EarthInversion"><img src="http://feeds.feedburner.com/~fc/EarthInversion?bg=FFCC33&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p>
      {% endif %}
      {% if s.subscribe_rsa %}
        <p align="center" style="margin-bottom: 0;"><a href="https://feedburner.google.com/fb/a/mailverify?uri=EarthInversion&amp;loc=en_US" class="btn btn--primary btn--large" style="font-size: 0.8em;">Subscribe for newsletters</a></p>
    
      {% endif %}
    {% endfor %}
    {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
    {% if page.sidebar.nav %}
    {% include subscribe_page.html %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  
  </div>
  {% endif %}