
<div class="container-cf" style="font-size: 0.6em;">
    <form onsubmit="sendEmail(event)">
        <div id="alert-field" class="alert hidden">
            <p>Uh oh! Something went wrong!</p>
        </div>
        <div class="newsletter-container">
            <input type="text" class="form-control" id="name-field" name="name-field" placeholder="Your name" style="background: #fafafa;" required>
            <input type="email" class="form-control" id="email-field" name="email-field" style="background: #fafafa;" placeholder="Email address" required>
            <input id="subsc" type="submit" style="float: right; background: #3b9cba;"  value="Subscribe"/>
        </div>
        
    </form> 
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script  src="{{ site.url }}{{ site.baseurl }}/custom-js/subscribeForm.js"></script>