/* assets/css/custom.css */


.post-title, .entry-title, .page-title {
  font-size: 2.0rem; 
}



/* Override heading sizes */
$h-size-1: 2.241em; 
$h-size-2: 1.953em;
$h-size-3: 1.563em;
$h-size-4: 1.25em;
$h-size-5: 1em;
$h-size-6: 0.75em;


/* Optionally, you can set custom values directly */
h1 {
  font-size: $h-size-1; /* or use a custom value */
}

h2 {
  font-size: $h-size-2;
}

h3 {
  font-size: $h-size-3;
}

h4 {
  font-size: $h-size-4;
}

h5 {
  font-size: $h-size-5;
}

h6 {
  font-size: $h-size-6;
}
